{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
   <title> {% block title %}{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body >
  {% block header %}{% endblock %}

   <div class="fist_row">
<a href="/">
        <img src= "{% static 'index/logotip.png' %}" >
    </a>

        <div class="links_block">
            <div class="link_1"><a class="link_1" href="#">О нас</a> </div>
            <div class="link_1"><a class="link_1" href="catalog/">Каталог</a></div>
            <div class="link_1"><a class="link_1" href="#">Контакты</a></div>
        </div>

    </div>

    <div class="second_block">
{% block main %}{% endblock %}
       {% block button %}{% endblock %}


    </div>


</div>
{% block catalog %}{% endblock %}


</body>
</html>